@model TuProyecto.Models.Usuario

@{
    ViewBag.Title = "Crear usuario";
}

<div class="container bg-primary text-white py-5">
    <h3 class="text-center">Registro de Usuario</h3>
</div>

<div class="container">
    <h2 class="text-primary">Formulario de registro</h2>
    <h5 class="text-secondary">Datos del usuario</h5>
</div>

<div class="container my-5">
    @using (Html.BeginForm("Login", "Usuario", FormMethod.Post))
    {
        <div class="form-group row mb-4">
            <div class="col-sm-6">
                <label class="text-primary">Nombre</label>
                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control border-primary" })
            </div>
            <div class="col-sm-6">
                <label class="text-primary">Apellidos</label>
                @Html.TextBoxFor(model => model.apellidos, new { @class = "form-control border-primary" })
            </div>
        </div>

        <div class="form-group row my-4">
            <label class="text-primary">Empresa</label>
            @Html.TextBoxFor(model => model.empresa, new { @class = "form-control border-primary" })
        </div>

        <div class="form-group row my-4">
            <label class="text-primary">Correo</label>
            @Html.TextBoxFor(model => model.correo, new { @class = "form-control border-primary", type = "email" })
        </div>

        <div class="form-group row my-4">
            <label class="text-primary">Contraseña</label>
            @Html.PasswordFor(model => model.contraseña, new { @class = "form-control border-primary", placeholder = "Ingrese su contraseña" })
        </div>

        <div class="form-group row mt-2 text-center">
            <input type="submit" class="btn btn-primary w-50" value="Registrar Usuario" />
        </div>
    }
</div>
